$primary: #326ce5;
$secondary: #bbbbbb;

$light-grey: #f7f7f7;
$dark-grey: #303030;
$medium-grey: #4c4c4c;
$white: #ffffff;

$feature: #daeaf9;
$feature-inset: #eeeeee;

$td-sidebar-bg-color: rgba($secondary, 0.05);

$link-color: $primary;

$link-hover-decoration: underline;

$info: lighten($primary, 5%);

