$primary: #326ce5;
$secondary: #bbbbbb;

$feature: #daeaf9;
$feature-inset: #eeeeee;

$td-sidebar-bg-color: rgba($secondary, 0.05);

$link-color: $primary;

$link-hover-decoration: underline;

$info: lighten($primary, 5%);
